.title h1{
  color: black;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.subTitle h2{
  color: black;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

#light .main{
  background-color: #fff;
}

#dark .main{
  background-color: #38004c;
}

#light {
  background-color: #f3ebf6;
}

#dark{
  background-color: #46045e;
}


#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}